// src/sass/_variables.scss
$color-sunday: #ff5733;
$color-monday: #f5694b;
$color-tuesday: #ffc300;
$color-wednesday: #c0c0c0;
$color-thursday: #00ced1;
$color-friday: #00ff7f;
$color-saturday: #ee82ee;
